{% extends './base/webblogTemplate.html'%}
{% load static%}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
    
    {% if form.is_valid %}
        ข้อที่ 1   คำตอบ  : {{question1}} <br></br>
                 บันทึก  :  {{memo1}}    <br></br>
        ข้อที่ 2   คำตอบ  : {{question2}} <br></br>
                 บันทึก  :  {{memo2}}    <br></br>
        
    {% else %}
        เกิดข้อผิดพลาด
    {% endif %}
{% endblock content %} 